body {
  font: 20px sans-serif ,Arial;
}

.navbar {
  background-color: #A9A9A9;
}

.quem-somos {
  background-color: #D2B48C;
  color: aliceblue;
}

.margin {
  padding-bottom: 75px;
  padding-top: 10px;
}

.parceiros {
  background-color: #D2B48C;
  color: aliceblue;
}

.bg-footer {
  background-color: #A9A9A9;
  color: aliceblue;
}

.servicos {
  background-color: #D2B48C;
  color: aliceblue;
}
